{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <main class="container-form">
        <h1 class="title-form">Création de comptes</h1>
        <div class="form form-register-tablet container-pc">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name, {
                label: 'Nom',
                attr: {
                    placeholder: 'Nom'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
            {{ form_row(registrationForm.first_name, {
                label: 'Prénom',
                attr: {
                    placeholder: 'Prénom'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
            {{ form_row(registrationForm.code_function, {
                label:'Franchise et structure = 0, Administrateur = 1',
                attr: {
                    placeholder: 'Taper 1, si création administrateur'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
            {{ form_row(registrationForm.email, {
                label: 'E-mail',
                attr: {
                    placeholder: 'E-mail'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                attr: {
                    placeholder: 'Mot de passe'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}

            {{ form_row(registrationForm.roles) }}
            <div class="container-btn-form">
                <button type="submit" class="btn-form btn-form-position btn-login">Enregistrement</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </main>

{% endblock %}
